<div class="shown_items">
  <% @items.each do |item| %>
    <%= render partial: "item_with_categories", locals: { item: item } %>
  <% end %>
</div>
<% if !@hidden_items.empty? %>
  <div class="hidden_items">
    <%= render partial: "hidden_items", locals: { hidden_items: @hidden_items } %>
  </div>
<% end %>
