<h1>Cart</h1>

<% if @order.items.empty? %>
  <p> Your cart is empty </p>
<% else %>
  <div class="items">
    <%= render partial: "order_items", locals: { order: @order} %>
  </div>
  <h3>Total: <%= number_to_currency @order.total(@order.line_items) %></h3>
  <div id="checkout">
    <%= button_to "Checkout", orders_path, method: :post %>
  </div>
<% end %>
