<div class="item">
  <h2>Title: <%= @item.title %></h2>
  <h3>Price: <%= number_to_currency @item.currency %></h3>
  <p>Description: <%= @item.description %></p>
  <% if !@item.categories.empty? %>
    <h3>Categories:</h3>
    <% @item.categories.each do |cat| %>
      <h4><%= cat.name %></h4>
    <% end %>
  <% end %>
</div>
