<h1>Categories</h1>
<div class="categories">
  <% @categories.each do |category| %>
    <div id=<%= category.name %>>
      <h2><%= link_to "#{category.name}", category_path(category.id) %></h2>
      <div class="shown_items">
        <%= render partial: "category_items", locals: { category: category } %>
      </div>
    </div>
  <% end %>
</div>
<% if !@hidden_items.empty? %>
  <hr>
  <div class="hidden_items">
    <%= render partial: "hidden_items", locals: { hidden_items: @hidden_items } %>
  </div>
<% end %>
