<h1>Menu</h1>
<div class="categories">
  <% @categories.each do |category| %>
  <div class="large-4 small-8 columns">
    <div id=<%= category.name %>>

        <div class="panel">
          <h2><%= link_to "#{category.name}", category_path(category.id) %></h2>
          <div class="shown_items">
            <%= render partial: "category_items", locals: { category: category } %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
<% if !@hidden_items.empty? %>
  <div class="hidden_items">
    <div class="large-4 small-8 columns">
      <%= render partial: "hidden_items", locals: { hidden_items: @hidden_items } %>
    </div>
  </div>
<% end %>
