<div class="hide-for-small panel">
  <h3>Admin Dashboard</h3>
  <div class="subheader">
    <%= link_to "New Admin", new_admin_path %> |
    <%= link_to "New Item", new_admin_item_path %>
    <%= link_to "View All Orders", admin_orders_path %>
  </div>
</div>
